@model KreditPlus_Web.Models.Users
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Users";
    var _userid = Context.Session.GetString("user_id");
    //var _userclaim = ViewBag.ClaimUserId;
    var _selecteduserId = ViewBag.SelectedUserId;
    bool isclaimuserId;
    if (_userid == _selecteduserId){isclaimuserId = true;} else{isclaimuserId = false;}
}


@if (TempData["Message"] != null)
 {
     <div class="text-info">
         @TempData["Message"]
     </div>
 }

 @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { Id = "formUpdateUsers" })){
     <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Update</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.HiddenFor(model => model.UserId, new { Class = "form-control"})
                <div class="col-6">
                    <label>User Name</label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @required = "true",@readonly="readonly" })
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>User Full Name</label>
                        @Html.TextBoxFor(model => model.UserFullName,new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>User Type</label>
                        @Html.DropDownListFor(m => m.UserType, new SelectList(ViewBag.ListUserType, "UserTypeId", "UserTypeName"),"User Type",new { @class = "form-control",style = "width: 100%;"})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Password</label>
                        @if(!isclaimuserId)
                        {
                            @Html.TextBoxFor(model => model.Password,new { @class = "form-control", @required = "true",@type = "password",@readonly = "readonly"})
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Password,new { @class = "form-control", @required = "true",@type = "password"})
                        }
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="@Url.Action("Index","Users")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 }
 *Note : You can only change User full name or User type

 @section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}