@model KreditPlus_Web.Models.Menu
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Menu";
}

@if (TempData["Message"] != null)
 {
     <div class="text-info">
         @TempData["Message"]
     </div>
 }

@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { Id = "formCreateMenu" }))
{
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Create</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-6">
                    <label>Menu Name</label>
                    @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control", @required = "true" })
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Price</label>
                        @Html.TextBoxFor(model => model.Price,new { @class = "form-control", @required = "true",@type = "number" })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Status</label>
                        @Html.DropDownListFor(m => m.StatusMenuId, new SelectList(ViewBag.ListStatusMenu, "StatusMenuId", "StatusMenuDesc"),"Status Menu",new { @class = "form-control",style = "width: 100%;"})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Menu Type</label>
                        @Html.DropDownListFor(m => m.MenuTypeId, new SelectList(ViewBag.ListMenuType, "MenuTypeId", "MenuTypeDesc"),"Menu Type",new { @class = "form-control",style = "width: 100%;"})
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="@Url.Action("Index","Menu")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}